$body-bg: #FAFBFC;

$navbar-index: 10000;
$slider-index: 1000;

$transition-duration: .5s;
$transition-easing: ease-in-out;
$animation-transition: all $transition-duration $transition-easing;
$transition-fast: all .2s $transition-easing;
