.fade-enter-active, .fade-leave-active {
	transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

@keyframes loading-sinus-rect {
	0% {
		transform: translateY(-100%);
	}
	40% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(0%);
	}
	60% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(100%);
	}
}
